<app-sidebar></app-sidebar>
<div class="main">
  <span class="planstitle position-relative ms-5">My Settings</span>

  <div class="col-md-9">

    <div class="container">

      <form class="ms-5">

        <div class="form-group">

          <label for=fullName>Full Name</label>
          <input class="form-control" id="fullName" type="text">

        </div>
        <div class="form-group">

          <label for=currentpassword>Current Password</label>
          <input class="form-control" id="currentpassword" placeholder="Enter Current Password" type="password">

        </div>
        <div class="form-group">

          <label>Password</label>
          <input class="form-control" placeholder="Enter New Password" type="password">

        </div>
        <div class="form-group ">

          <label>Repeat Password</label>
          <input class="form-control" placeholder="Repeat  Password" type="password">

        </div>

        <div class="form-group">
          <span class="languagetitle position-relative ">Language & Region settings</span>
        </div>
        <div class="form-group d-flex flex-column mt-4">

          <label>Language</label>
          <select class="select_input">
            <option value="French">French</option>
            <option value="English">English</option>
          </select>

        </div>

        <div class="form-group ">

          <label>Date format</label>
          <div class="d-flex justify-content-between w-50" >
          <div><input type="radio" value="dd/mm/yyyy" checked><label class="ms-1">dd/mm/yyyy</label></div>
            <div><input type="radio" value="mm/dd/yyyy"><label class="ms-1">mm/dd/yyyy</label></div>
            <div><input type="radio" value="yyyy/mm/dd"><label class="ms-1">yyyy/mm/dd</label></div>
          </div>
        </div>
        <div class="form-group"> <button type="button" class="btn btn-primary savebtn float-end">Save</button>
        </div>
      </form>

    </div>

  </div>

</div>
