
<div class="signupssodiv">
  <h1 class="title mb-4">Let’s Go</h1>
  <div class="form container">

    <button class="btn btn-primary loginbtn" type="submit"><img src="assets/google.png"> Sign up with google</button>
  </div>
    <div class="signup">
      <span (click)="towithoutSSO()">
        or signup without SSO
      </span>
    </div>

  <div>

  </div>

</div>


<div class="textbtn">
  <span class="textaccount">Already using project curve?</span>
  <button class="btn btn-primary signbtn" routerLink="" type="button">Login</button>
</div>


