<div [hidden]="hidden" class="subcription yellow col-12"><span>Expire dans 7 jours</span>
  <button class="checkbtnameliorer"><span>Amérlioré</span></button>
  <svg (click)="sethidden()" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM10.4042 11.2526L8.00008 8.84853L5.59588 11.2527L4.74735 10.4042L7.15155 8L4.74735 5.59579L5.59588 4.74726L8.00008 7.15147L10.4042 4.74735L11.2527 5.59588L8.84861 8L11.2527 10.4041L10.4042 11.2526Z"
          fill="white"/>
  </svg>
</div>
<!--
<div class="subcription red col-12" ><span >Essai gratuit expiré</span><button class="checkbtnameliorer"><span>Amérlioré</span></button></div>
-->
<!--
<div class="subcription red col-12" ><span >License expiré</span><button class="checkbtnameliorer"><span>Renouvelé</span></button></div>
-->
<!--
<div class="subcription yellow col-12" ><span >Renouvellement automatique désactivé</span><button class="checkbtnameliorer"><span>Activer</span></button></div>
-->
<!--
<div class="subcription yellow col-12" ><span >Expire dans 7 jours</span><button class="checkbtnameliorer"><span>Activé renouvellement automatique</span></button></div>
-->
