<app-logo></app-logo>
<div class="forgetdiv">
  <h1 class="title textforget">Forgot your password?</h1>
  <div class="container">


    <form class="form">
      <div class="form-group">
        <label for="Email">Email</label>
        <input class="form-control input-box icon inputforget" id="Email"
               placeholder="&#xf0e0;  Enter your email"
               name="Email"
               [(ngModel)]="mail"
               type="email">

      </div>


      <button class="btn btn-primary loginbtn linktext" type="submit" (click)="submit()">Send me the link</button>
    </form>
    <div class="signin">
      <span (click)="toLogin()" >
        or sign in
      </span>
    </div>

  </div>

</div>




<div class="textbtn">
  <span class="textaccount">Already using project curve?</span>
  <button class="btn btn-primary signbtn" routerLink="" type="button">Login</button>
</div>
