
.forgetdiv {
  position: absolute;
  width: 476px;
  height: 319px;
  left: 722px;
  top: 368px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 25px 69px -12px rgba(23, 31, 70, 0.15);
  border-radius: 12px;

}
.inputforget {
  margin-bottom: 49px;
}
.textforget{
  margin-bottom: 17px;
}

.signin {
  position: absolute;

  left: 211.5px;
  top: 279px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.5px;
  cursor: pointer;
  color: #235BEC;
}
