.signupdiv {
  position: absolute;
  width: 476px;
  height: 505px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 25px 69px -12px rgba(23, 31, 70, 0.15);
  border-radius: 12px;
}

p {
  margin-top: 20%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  place-content: center;
}

.ligne {
  border: 0.5px solid rgba(162, 162, 162, 0.6);
}

.termsalign {
  margin-top: -10px;
  text-align: center;
}

.terms {


  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 100%;
  /* or 10px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #B9BEC7;
}

@media screen and (max-width: 480px) {
  .textbtn {
    margin-top: 60px;
  }

  .signupdiv {

    display: -webkit-box;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

}
@media screen and (max-width: 375px) {
  .textbtn {
    bottom: 0;
    right: 0;
    top: auto;
    padding: 0;
  }

  .signupdiv {
    margin-top: 20px;
    display: -webkit-box;

    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: absolute;
    height: 450px;
    left: 50%;
    top: 50%;

  }

}
