<app-logo></app-logo>


<div class="forgotdiv">
  <h1 class="title mb-4 mt-0">Let’s Go</h1>
  <div class="form container">
    <img src="../../../assets/boitemail.png" alt="">
    <div class="textforgot">
      <p class="emailedtext">We just emailed you.</p>
    </div>
    <div class="textforgot">   <span class="codeemailed">Please enter the code we emailed you</span></div>
    <div class="textforgot">   <span class="contact">contact@hortensia-agency.com</span></div>
    <div class="textforgot">   <span class="confirmationtext">Confirmations code</span></div>
    <div id="divOuter">
      <div id="divInner">
        <input  id="partitioned" type="text" [(ngModel)]="code" maxlength="4" autocomplete="off" />
      </div>
    </div>
    <button class="btn btn-primary loginbtn" type="submit" (click)="submit()"> <span style="letter-spacing: 1px">Verify</span></button>
  </div>
  <div class="signup">
      <span >
        <a href="">Resend code</a> or <a href="">Logout</a>
      </span>
  </div>

  <div>

  </div>

</div>

<div class="textbtn">
  <span class="textaccount">Already using project curve?</span>
  <button class="btn btn-primary signbtn" routerLink="" type="button">Login</button>
</div>


