<app-logo></app-logo>


<div class="logindiv">
  <h1 class="title">Welcome back!</h1>
  <div class="container">


    <form class="form">
      <div class="form-group">
        <label for="Email">Email</label>
        <input aria-describedby="emailHelp" class="form-control input-box icon" id="Email"
               placeholder="&#xf0e0;  Enter your email"
               [(ngModel)]="mail"
               name="Email"
               type="email">

      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <div class="inputContainer">
          <input class="form-control input-box icon " id="Password" [(ngModel)]="mdp" name="Password" placeholder="&#xf023;  Enter password"
                 type="password">
          <a class="inputImg" href="forget"><span class="forgetText">Forgot Password?</span></a>
        </div>

      </div>

      <button class="btn btn-primary loginbtn" type="submit" (click)="submit()">Log In</button>
    </form>
  </div>
  <div>
    <p class="aligntext">Don't have an account? <a class="signtext" routerLink="signup"> Sign up</a></p>
  </div>
</div>

<div class="textbtn">
  <span class="textaccount">Don't have an account?</span>
  <button class="btn btn-primary signbtn" routerLink="signup" type="button">Sign up</button>
</div>

