<app-logo></app-logo>
<div class="container" >
  <div class="row">
    <div class="col-11 col-sm-11 col-md-7 col-lg-7 col-xxl-5"></div>
    <div class="resetdiv">
      <h1 class="title mb-4">Reset your password</h1>
      <div class="container">


        <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
          <div class="form-group">
            <label>New Password</label>
            <input aria-describedby="emailHelp" class="form-control input-box icon"
                   placeholder="Type New Password"
                   formControlName="Password"
                   type="password"
                   [ngClass]="{'is-invalid':Password&&Password.errors && Password.touched}">
            <div *ngIf="Password&&Password.hasError('required')"
                 class="invalid-feedback">
              Mot de passe est Obligatoire*
            </div>
            <div *ngIf="Password&&Password.hasError('minlength')"
                 class="invalid-feedback">
              Minimum 8 caractères*
            </div>
          </div>
          <div class="form-group">
            <label >Repeat Password</label>
            <div class="inputContainer">
              <input class="form-control input-box icon "  placeholder="Repeat New Password"
                     formControlName="ConfirmPassword"
                     type="password"
                     [ngClass]="{'is-invalid':ConfirmPassword&&ConfirmPassword.errors && ConfirmPassword.touched}">
              <div *ngIf="ConfirmPassword&&ConfirmPassword.hasError('required')"
                   class="invalid-feedback">
                Mot de passe est Obligatoire*
              </div>
              <div *ngIf="ConfirmPassword&&ConfirmPassword.hasError('passwordMismatch')"
                   class="invalid-feedback">
                Mot de Passe Incorrect*
              </div>
            </div>
          </div>
          <button class="btn btn-primary loginbtn" type="submit" >Reset password</button>
        </form>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="textbtn ">
        <span class="textaccount">Already using project curve?</span>
        <button class="btn btn-primary signbtn" routerLink="" type="button">Login</button>
      </div>
    </div>
  </div>
</div>

