
<div class="dashdiv container">


    <p class="info">Information a renseigner</p>
  <form class="form">

    <div class="form-group">
      <label for="data">Date des données d’entrée </label>
      <input class="form-control input-box " id="data"
             placeholder="JJ/MM/AAAA"
             type="text">

    </div>

    <div class="form-group">
      <div class="forselect">
      <label for="nbproj">Nombre de mois projet passé</label>
<!--      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn moisjours">Jour</button>
        <button type="button" class="btn moisjours">Mois</button>

      </div>-->
      <div class="btn-group ms-5" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
        <label class="btn btn-outline-primary" for="btnradio1">Jours</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio2">Mois</label>


      </div>
      </div>
      <input aria-describedby="emailHelp" class="form-control input-box icon" id="nbproj"
             placeholder="Entier naturel"
             type="number">

    </div>
    <div class="form-group">
      <label for="pourcentrea">Pourcentage du réalisé </label>
      <div class="inputContainer">
        <input class="form-control input-box icon " id="pourcentrea" placeholder="Nombre en pourcentage"
               type="number">
        <!--<a class="inputImg" href="forget"><span class="forgetText">Forgot Password?</span></a>-->
      </div>

    </div>


    <div class="form-group datefin">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off" >
        <label class="btn btn-outline-primary" for="btnradio3">Date de fin calculer</label>

        <input type="radio" class="btn-check" name="btnradio1" id="btnradio4" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio4">Date de fin fixe</label>

      </div>

    </div>

    <div class="datefin">
      <span class="paramcourbe">Paramétrage des courbes</span>
    </div>
    <div class="datefin d-flex mt-2">
      <span>Réglage rapide : </span>

        <div class="btn-group type" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio3" id="btnradio5" autocomplete="off" >
          <label class="btn btn-outline-primary" for="btnradio5">~Linéaire</label>

          <input type="radio" class="btn-check" name="btnradio3" id="btnradio6" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio6">~S-Curve Classique</label>

        </div>


    </div>
    <div class="datefin">

        <div class="form-group">
          <label >Tangentes aux extrémités (µ) </label>
          <div><span>0.1</span><input type="range" class="range" min="0.1" max="10" step="0.01" value="8"><span id="demo1">10</span></div>

        </div>

    </div>

    <div class="datefin">

      <div class="form-group">
        <label >Tangentes aux extrémités (µ) </label>
        <div><span class="fixchiffre">-5</span><input type="range" class="range" min="0.1" max="15" step="0.01" value="5.31"><span id="demo2">15</span></div>

      </div>

    </div>
    <button class="btn btn-primary courbebtn" type="submit">Date de fin et courbe prévisionnelle</button>

  </form>


</div>



