@import "../../../assets/css/dashboard.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";




.table > tbody {
  vertical-align: revert;

}
.simulationbtn:hover {
  background-color: rgba(255,238,255,.6666666667);
}
.simulationbtn {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 8px;


  border: 1px solid #E6EAF5;

  flex: none;
  flex-grow: 0;
}

.firstbtn {
  width: 167px;
  height: 25px;
  border-radius: 5px 0px 0px 5px;
  order: 0;
}

.mid {
  width: 176px;
  height: 25px;
  order: 1;
}

.final {
  width: 195px;
  height: 25px;
  border-radius: 0px 5px 5px 0px;

}

.btn:hover {
  color: white;

}

.font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #AEAEAE;

}

.v-line {
  width: 1px;


  background: #D9D9D9;


}

.aidebtn {
  width: 73px;
  height: 25px;


  order: 2;
  border: 1px solid #E6EAF5;
  border-radius: 5px;
}

.div_aide {
  order: 2;
  display: flex;
  gap: 30px;
}

.comptebtn {
  width: 94px;
  height: 25px;

  border: 1px solid #E6EAF5;
  border-radius: 5px;
  order: 4;

}

.last_btns {
  display: flex;
  gap: 80px;
  grid-gap: 80px;
}

.subcription {
  position: absolute;
  width: 100%;
  height: 35px;


  background: rgba(255, 184, 0, 0.8);
}

.drp {


  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 180px;
  height: 106px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.h-div {
  width: 170px;
  height: 0px;

  /* gery */

  border: 1px solid #E6EAF5;
}

.dropdown-menu {

  border: 1px solid rgb(255, 255, 255);

}

.dropdown-menu li {
  margin-left: 10px;
}

.forspacing {
  gap: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bluefont {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #0B69FF;
}

.modal-dialog {
  max-width: var(--bs-modal-width) !important;
  margin-right: auto !important;
  margin-left: auto !important;

}

.modal-header {

  padding: var(--bs-modal-header-padding);

}

.modal-body {

  padding: var(--bs-modal-padding);
}

.modal-footer {

  padding: 0.75rem;

}

.openmodal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 49px;
  gap: 10px;

  position: relative;
  width: 962px;
  height: 695px;

  background: #FFFFFF;
  box-shadow: 0px 25px 69px -12px rgba(23, 31, 70, 0.15);
  border-radius: 12px;
}

.centermodal {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.searchinput {
  box-sizing: border-box;
  margin-top: 38px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 428px;

  width: 844px;
  height: 40px;

  /* General/White */

  background: #FFFFFF;
  /* Light Grey/100 */

  border: 1px solid #D7DFE9;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 49px;
  gap: 10px;

  position: relative;
  width: 855px;
  height: 298px;

  background: #FFFFFF;
  box-shadow: 0px 25px 69px -12px rgba(23, 31, 70, 0.15);
  border-radius: 12px;
}

.modalbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 37px;
  gap: 10px;

  width: 360px;
  height: 50px;

  /* blue */


  box-shadow: 5px 7px 24px rgba(35, 91, 236, 0.5);
  border-radius: 9px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.suppinput {
  width: 735px;
}

thead {
  box-sizing: border-box;

  /* Auto layout */

  padding: 0px 80px;


  height: 65px;
  box-shadow: 1px 1px 1px 1px rgb(215 215 215 / 75%);

  background: #FFFFFF;
  /* Light Grey/100 */

  border: 1px solid #D7DFE9;
  border-radius: 4px 4px 0px 0px;

}

table.row-border tbody th,
table.row-border tbody td,
table.display tbody th,
table.display tbody td {
}

table.row-border tbody tr:first-child th,
table.row-border tbody tr:first-child td,
table.display tbody tr:first-child th,
table.display tbody tr:first-child td {
  border-top: none;
}

tr {
  height: 62px;
}

thead th {
  background-color: white;
}

thead th:first-child {
  border-radius: 100px 0 0 100px;
}

thead th:last-child {
  border-radius: 0 100px 100px 0;
}

/* remove border from th... */
/* !important is only required in stack snippet, probably not in your production code */

.table > thead > tr > th {
  border: none !important;
}

/* remove border from first tbody row... */

th {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #7E858E;
}

td {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
}

.tablestat > tbody > tr:first-child > td,
.tablestat > tbody > tr:first-child > th {
  border-top: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  color: #14D193;
}

.tablestat > tbody > tr:last-child > td,
.tablestat > tbody > tr:last-child > th {
  border-top: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  color: #0B69FF;
}

.table > thead > tr > th {
  border: none !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.tableSection {
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 6px;
  padding: 30px 32px;
}

.tableSection .copyBtns {
  display: flex;
  gap: 0.5rem;
}

.copyBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #658cf2
}

.copyBtn.active {
  cursor: pointer
}

.copyBtn.active:hover {
  text-decoration: underline;
  text-decoration-color: #574dfa
}

.copyBtn img {
  transform: scale(.8);
  border-radius: 6px;
  box-shadow: 0 2px 10px #0000001a;
  padding: 10px
}



.tableSection {
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 6px;
  padding: 30px 32px
}

.tableSection .copyBtns {
  display: flex;
  gap: .5rem
}

.tableSection .copyBtns > div {
  min-width: 230px
}

.tableSection ._tableContainer_11jjx_264 {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 32px auto 0;
  width: 90%
}

.tableSection ._table_11jjx_252 {
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px
}

.tableSection ._table_11jjx_252 > div {
  display: flex;
  flex-direction: row;
  height: 32px
}

.tableSection ._table_11jjx_252 > div div {
  border: .5px solid #cfcfcf;
  min-width: 90px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-top: none;
  border-bottom: none
}

.tableSection ._table_11jjx_252 > div div:first-of-type {
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  min-width: 210px;
  border-left: none;
  font-size: 10px;
  justify-content: flex-start;
  background: #fafafa
}

.tableSection ._table_11jjx_252 > div div:last-of-type {
  border-right: none
}

.tableSection ._table_11jjx_252 > div div._highlighted_11jjx_307 {
  color: #fff;
  background: #14d193 !important
}

.tableSection ._table_11jjx_252 > div:first-of-type {
  text-transform: capitalize
}

.tableSection ._table_11jjx_252 > div:first-of-type div {
  background: #fafafa;
  border-top: none
}

.tableSection ._table_11jjx_252 > div:first-of-type div:first-of-type {
  border-top-left-radius: 6px;
  font-size: 12px
}

.tableSection ._table_11jjx_252 > div:first-of-type div:last-of-type {
  border-top-right-radius: 6px
}

.tableSection ._table_11jjx_252 > div:last-of-type div {
  border-bottom: none
}

.tableSection ._table_11jjx_252 > div:last-of-type div:first-of-type {
  border-bottom-left-radius: 6px
}

.tableSection ._table_11jjx_252 > div:last-of-type div:last-of-type {
  border-bottom-right-radius: 6px
}

.tableSection .tablestat > div:nth-of-type(2) {
  color: #14d193;
  font-weight: 600
}

.tableSection .tablestat > div:nth-of-type(3) {
  color: #0b69ff;
  font-weight: 600
}

@media screen and (max-width: 625px) {
  .tableSection .copyBtns {
    flex-direction: column
  }
}

@media screen and (max-width: 500px) {
  .tableSection {
    padding: 2rem 1rem
  }

  .tableSection .tableContainer {
    margin: 24px 0 0;
    width: 100%
  }
}



/*-For Tableeeeeeeeeeeeeeeeeeee-*/
table {
  border-collapse: separate !important;
  border-spacing: 0;

}
.bordered {

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

}
.bordered tr:hover {
  background: #ffffff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {


  padding: 10px;
  text-align: left;

}
.bordered td{
  border-style: outset;
  border-bottom: hidden;
}
.bordered th {

  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
  background-image: linear-gradient(top, #F8F8F8, #ECECEC);

  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}
.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  width: 162px;
}
.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.bordered th:only-child{
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
table.dataTable.no-footer {
  border-bottom: none;
}
.tableSection th {
  background: #fafafa;
  border-right: 2px solid #bdbdbd !important;
}
.tableSection td {
  border-right: 2px solid #bdbdbd;
}


