@import "../../../../assets/css/dashboard.css";

.fontradio {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #AEAEAE;
}

.inputsSection {
  width: max-content;
}
.rapids {
  gap: 15px;
}
