<form (ngSubmit)="onSubmit()" [formGroup]="formService.chartform" class="form">

  <div class="inputsSection">
    <h2>Information a renseigner</h2>

    <div class="mb-3">
      <div class="d-flex flex-nowrap justify-content-between ">
        <label>Nombre de mois projet passé<img
          alt="Info" class="icon"
          src="assets/icon/info_icon.svg"
          title="Combien de mois sont-ils passés depuis le début de votre projet jusqu'à votre date des données?">
        </label>
        <div class="btn-group   w-25" role="group">
          <input autocomplete="off" class="btn-check" id="btnradio2" name="JM" type="radio">
          <label class="btn btn-outline-primary fontradio justify-content-center" for="btnradio2">Jour</label>

          <input autocomplete="off" checked class="btn-check" id="btnradio3" name="JM" type="radio">
          <label class="btn btn-outline-primary fontradio justify-content-center" for="btnradio3">Mois</label>

        </div>
      </div>
      <br>
      <input class="mb-3" formControlName="nbOfMonthsPassed" placeholder="Entier naturel" type="text">
    </div>

    <h2>Paramétrage des courbes</h2>

    <div class="mb-5">
      <div class="forselect mb-5"><label>Réglage rapide :</label>
        <div class="btn-group type rapids" role="group">
          <input autocomplete="off" class="btn-check" id="lineaire" name="rapidSetting">
          <label class="btn btn-outline-primary fontradio justify-content-center" for="lineaire">~Linéaire</label>

          <input autocomplete="off" checked class="btn-check" id="classique" name="rapidSetting">
          <label class="btn btn-outline-primary fontradio justify-content-center" for="classique">~S-Curve
            Classique</label>

        </div>
      </div>
      <div>
        <label>Tangentes aux extrémités (µ)</label></div>
      <div><p>0.1</p><input (input)="changeTangente($event)" formControlName="mu" id="tengente" max="5" min="0.1" step="0.01" type="range"
                  value="3.22">
        <p id="TanValue">{{tangenteValue}}</p>
      </div>
    </div>
    <div>
      <div><label>Décalage axe (σ)</label>
      </div>
      <div><p>-5</p><input (input)="changeoffset($event)" formControlName="sig" id="offset" max="10" min="-5" step="0.01" type="range" value="0"><p
        id="offsetValue">{{offsetValue}}</p></div>
    </div>

    <button type="submit">Date de fin et courbe prévisionnelle</button>

  </div>
</form>
